.App {
  text-align: center;
}

.App-header {
  margin: 50px;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Ratings {
  padding-top: 100px;
  text-align: center;
}

li.starListItem{
  display: inline;
}

.yellowStar {
  fill: yellow;
}