.App {
  text-align: center;
}
.App-header {
  margin-bottom: '100px';
  margin-top: '20px';
  min-height: calc(100vh - 120px);
  background-color: #282c3400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
